@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.authenticate {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.authenticated {
  @apply bg-blue-800 text-white font-bold py-2 px-4 rounded;
}

.section {
  padding: 8px;
}

.user {
  display: flex;
  flex-direction: row;
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 8px;
}

.error {
  padding: 8px;
  background-color: #f44336;
  color: white;
  margin-top: 4px;
  border: 1px solid #531c18;
  border-radius: 4px;
}
